.Board {
  margin: auto;
  box-shadow: 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
  border:none;
  border-radius:10px ;
}

.Board-body{
  margin: 12vh auto;
}

.Board-rules{
  font-size: 20px;
  font-family: neon;
  justify-content: center;
  align-items: center;
}

#rules-rule{
  display: flex;
  justify-content: center;
  align-items: center;
  color:#f5760e;
  font-size: 2rem !important;
}

.Board-title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.rules-head{
  font-size:40px;
}

table tr:first-child td:first-child{
  border-radius: 10px 0 0 0 !important;
}
table tr:first-child td:last-child{
  border-radius: 0 10px 0 0 !important;
}
table tr:last-child td:first-child{
  border-radius: 0 0 0 10px !important;
}
table tr:last-child td:last-child{
  border-radius: 0 0 10px 0 !important;
}

.winner{
  margin: 25vh auto;
}
#winner-neon, #winner-flux{
  font-size: 150px !important;
}
@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.neon {
  font-family: neon;
  color: #FB4264;
  font-size: 70px;
  line-height: 4vw;
  text-shadow: 0 0 3vw #F40A35;
}

.neon {
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

.flux {
  font-family: neon;
  color: #426DFB;
  font-size: 70px;
  line-height: 5vw;
  text-shadow: 0 0 3vw #2356FF;
}


.flux {
  animation: flux 2s linear infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 2s linear infinite;
  -o-animation: flux 2s linear infinite;
}

@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #28D7FE;
  }
  50% {
    text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
    color: #146C80;
  }
}

@media screen and (max-width: 768px) {
  .neon {
    font-family: neon;
    color: #FB4264;
    font-size: 40px;
    line-height: 4vw;
    text-shadow: 0 0 3vw #F40A35;
  }

  .flux {
    font-family: neon;
    color: #426DFB;
    font-size: 40px;
    line-height: 5vw;
    text-shadow: 0 0 3vw #2356FF;
  }

  .rules-head{
    font-size:20px;
  }

  .Board-rules{
    font-size: 10px;
    font-family: neon;
  }

  #rules-rule{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#f5760e;
    font-size: 10px !important;
  }
  
  .Board-rules li:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#28D7FE;
  }
  
  
}